#list-of-answers{
    margin:0;
}
#list-of-answers button{
    display:block;
    margin:12px 0px 12px 0px;
}
#question-title{
    margin-bottom:24px;
}

#try-again{
    margin-top:32px;
}
#try-again button{
    margin:0px 12px 0px 12px;
}
thead{
    font-weight:bold;
}